extra/n8n+chatwoot/PostToChatwoot.json
{
  "name": "PostToChatwoot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.participant?.title}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Direct Message ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        820
      ],
      "id": "2983b09d-3e78-46a0-9c03-77f03847c11d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content",
              "value": "=**{{$json.participant.title}}**: {{$json.payload.content}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepend Title",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        100,
        880
      ],
      "id": "5f52c153-565f-4410-9277-fb9c9e624ea9"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json.payload}}",
        "headerParametersJson": "={ \"api_access_token\": \"{{$json.atoken}}\" }"
      },
      "name": "Post Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3060,
        1040
      ],
      "id": "a23350ee-7404-4dbb-841d-bbb26c51a5da",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "operation": "download",
        "messageId": "={{ $json.payload.content_attributes?.items?.quepasa?.msgid ?? $json.payload.echo_id }}",
        "fileName": "={{$json[\"payload\"][\"attachment\"][\"filename\"]}}"
      },
      "id": "514d5518-026d-419a-95dd-3e2547a533ed",
      "name": "Quepasa Download Incoming",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        780,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "d44bc7d3-795f-4270-9692-fcab92323494",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{$json.chatid}}"
            },
            {
              "name": "hex",
              "value": "={{$json.hex}}"
            },
            {
              "name": "qphost",
              "value": "={{$json.extra.qphost}}"
            },
            {
              "name": "qptoken",
              "value": "={{$json.extra.qptoken}}"
            },
            {
              "name": "cwhost",
              "value": "={{$json.extra.cwhost}}"
            },
            {
              "name": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "name": "atoken",
              "value": "={{$json.extra.atoken}}"
            },
            {
              "name": "identifier",
              "value": "={{$json.extra.identifier}}"
            },
            {
              "name": "payload",
              "value": "={{$json.payload}}"
            },
            {
              "name": "conversation.id",
              "value": "={{$json.conversation.id}}"
            },
            {
              "name": "participant",
              "value": "={{$json.participant}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc4c50bf-1b91-4820-9530-52a4485fc3b8",
      "name": "Filter Source Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -280,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"payload\"][\"attachment\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Incoming Attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        800
      ],
      "id": "0cacf1ae-d007-4a2c-8316-a8d38d1334e1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "0c68a6c9-f904-4ce7-85f4-0b2f29c974bf",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1460,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$binary}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "576bf89b-73e2-47c4-a5c8-38dc5597c30c",
      "name": "Post Incomming With Attachment ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2800,
        880
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "53d1b2bb-cc56-4fe2-8402-57dd499fb051",
      "name": "(In) Attachment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        720
      ]
    },
    {
      "parameters": {},
      "id": "f73bef55-4899-45d9-a368-e4f7a24fc3dd",
      "name": "(In) Text Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        880
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content",
              "value": "= ** Falha ao baixar anexo ! :: => {{$json[\"payload\"][\"content\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5af3b76-4205-476c-82a9-b253e9502889",
      "name": "(In) Prepend error on content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5b58eaab-152f-4d7e-84d7-dd6b0930c86f",
      "name": "(In) Error On Get Attach ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.payload.content}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d3cd4f14-cab0-4c6c-9fc8-433819e698dd",
      "name": "If Not Empty Content ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content",
              "value": "! \"Algum EMOJI\" | \"Alguma Reação que o sistema não entende ainda ..\""
            }
          ]
        },
        "options": {}
      },
      "id": "38d9050f-52cf-4c33-95b8-e893b368b63c",
      "name": "Set Custom Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2120,
        960
      ]
    },
    {
      "parameters": {},
      "id": "32ab2d49-bb00-4e0c-8448-df68818d8906",
      "name": "(In) Text Message Following",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2340,
        880
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.attachment"
            }
          ]
        },
        "options": {}
      },
      "id": "a2a4b866-3b3d-4368-98f1-dd6109fcae5d",
      "name": "Filter Post To Chatwoot Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2580,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Fail Retry \nImportant to retry on fail because if you are using any external storage, it will try to save at this time.\nSo you need to ensure success ...",
        "height": 347.0509255000625,
        "width": 258.1602840291324
      },
      "id": "fcfd7945-4810-4f0d-a399-0a93d56338f0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "extra.qphost",
              "value": "={{ $json.extra.qphost ?? \"http://127.0.0.1:31000\" }}"
            },
            {
              "name": "extra.qptoken",
              "value": "={{ $json.extra.qptoken ?? $json.extra.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96b11bab-93f1-40da-91a2-5ec971a84d11",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -900,
        800
      ]
    },
    {
      "parameters": {
        "content": "## (1.0.1) Updates\n* prepend reference msg\n\n## Recommendations \n* Remember set timeout to 10 seconds",
        "height": 201.45401153644474,
        "width": 467.54452018877896
      },
      "id": "8a92ad58-c152-45c4-8190-b8913aa892b9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1740,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.synopsis }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a13545b0-509c-41ba-a994-9692e18f299a",
      "name": "If InReply | Reaction ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -740,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content_attributes.in_reply_to",
              "value": "={{ $json.payload.content_attributes.in_reply_to.split('-')[2] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c0e0508-8f27-4c83-abdc-190e89b05354",
      "name": "Prepend Reference",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -500,
        680
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "message_type",
              "value": "={{ 2 }}"
            },
            {
              "name": "content",
              "value": "✅ Este contato foi importado para os contatos do Chat"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.extra.utoken }}"
            }
          ]
        }
      },
      "name": "Post Incoming Message3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4860,
        300
      ],
      "id": "769d210a-320f-4ed3-a02b-185bec305e4e",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $(\"Code\").item.json.temp.split('FN:')[1].split('TEL')[0].split('item')[0] }}"
            },
            {
              "name": "phone_number",
              "value": "=+{{ $(\"Code\").item.json.temp.split('TEL')[1].split(':')[0].split('waid=')[1] }}"
            },
            {
              "name": "identifier",
              "value": "={{ $(\"Code\").item.json.temp.split('TEL')[1].split(':')[0].split('waid=')[1] }}@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "id": "18939821-d57b-4f8e-bf06-918f1b1a995d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4520,
        320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "message_type",
              "value": "={{ 2 }}"
            },
            {
              "name": "content",
              "value": "❌ Este contato não foi importado para os contatos do Chat, realize a adição manualmente"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.extra.utoken }}"
            }
          ]
        }
      },
      "name": "Post Incoming Message4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4860,
        460
      ],
      "id": "d94c24da-2713-4aec-a263-3eb94ec61855",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.payload.event }}",
              "value2": "={{ 10 }}"
            }
          ]
        }
      },
      "id": "ef29e235-66fa-4c1c-b228-f4dd32796962",
      "name": "is revoke?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        1140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM messages\nWHERE content_attributes::text LIKE '%{{ $json.payload.content_attributes.items.quepasa.msgid }}%';\n",
        "options": {}
      },
      "id": "fac8d51e-7c6d-4a3d-904a-167d483a593b",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1120,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "vSgNoxPsTNRz4Pxu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.edited }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.payload.edited }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "399c3e31-0e53-41c5-9508-49c9e2f36c11",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -1140,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.edited }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8bdaf485-e965-4695-8a1d-cc7aa4c110c3",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -1140,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM messages\nWHERE content_attributes::text LIKE '%{{ $json.payload.content_attributes.items.quepasa.msgid }}%';\n",
        "options": {}
      },
      "id": "78dbbd97-1227-4f03-b360-8aa22b878744",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -900,
        1020
      ],
      "credentials": {
        "postgres": {
          "id": "vSgNoxPsTNRz4Pxu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content_attributes.in_reply_to",
              "value": "={{ $json.id }}"
            },
            {
              "name": "editedmessage",
              "value": "={{ $('When Called By Another Workflow').item.json.payload.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c94207d6-c1e2-4aa3-8038-83ee3be15228",
      "name": "payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -640,
        1020
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('is revoke?').item.json.cwhost }}/api/v1/accounts/{{ $('is revoke?').item.json.account }}/conversations/{{ $('is revoke?').item.json.conversation.id }}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n   \"private\": false,\n   \"content\": \"❌ Essa mensagem foi apagada!\",\n   \"message_type\": \"incoming\",\n   \"source_id\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"source_id\"] }}\",\n   \"content_attributes\": {\n      \"items\": {\n         \"quepasa\": {\n            \"msgid\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"content_attributes\"][\"items\"][\"quepasa\"][\"msgid\"] }}\"\n         }\n      },\n      \"in_reply_to\": \"{{ $json[\"id\"] }}\"\n   },\n   \"attachment\": \"\",\n   \"content_type\": \"text\"\n}",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $('When Called By Another Workflow').item.json.extra.atoken }}\" }"
      },
      "name": "mark as revoked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1380,
        980
      ],
      "id": "c7cf6aec-d7e9-4e51-8de0-5bffb5424c16",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"extra\"][\"account\"]}}/conversations/{{ $('When Called By Another Workflow').item.json[\"conversation\"][\"id\"] }}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n   \"private\": false,\n   \"content\": \"⚠️ ***Essa mensagem foi editada!***\\n Nova mensagem: *{{ $('payload').item.json[\"editedmessage\"] }}*\",\n   \"message_type\": \"incoming\",\n   \"source_id\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"source_id\"] }}\",\n   \"content_attributes\": {\n      \"items\": {\n         \"quepasa\": {\n            \"msgid\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"content_attributes\"][\"items\"][\"quepasa\"][\"msgid\"] }}\"\n         }\n      },\n      \"in_reply_to\": \"{{ $('payload').item.json[\"content_attributes\"][\"in_reply_to\"] }}\"\n   },\n   \"attachment\": \"\",\n   \"content_type\": \"text\"\n}",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $('When Called By Another Workflow').item.json.extra.atoken }}\" }"
      },
      "name": "mark as edited",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -400,
        1020
      ],
      "id": "3e156be3-06ac-485c-8715-840660542f21",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:data",
        "headerParametersJson": "={ \"api_access_token\": \"{{$json.atoken}}\" }",
        "queryParametersJson": "={{$json.payload}}"
      },
      "name": "Post Incoming Message Attachment2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3420,
        800
      ],
      "id": "340fb2b2-341e-4e17-9361-9a21a20b4690",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json.payload}}",
        "headerParametersJson": "={ \"api_access_token\": \"{{$(\"Post Incomming With Attachment ?\").item.json.atoken}}\" }"
      },
      "name": "Post Incoming Message2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4140,
        320
      ],
      "id": "ac81acdc-ac94-4384-bb43-cb4068926abc",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "payload",
              "value": "={{ $(\"Post Incomming With Attachment ?\").item.json.payload }}"
            }
          ]
        },
        "options": {}
      },
      "id": "24f32f8b-5e82-45e4-afae-8130110b43fa",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3720,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content",
              "value": "=**Nome:** {{ $(\"Code\").item.json.temp.split('FN:')[1].split('TEL')[0].split('item1.')[0] }}\n**Telefone:** {{ $(\"Code\").item.json.temp.split('TEL')[1].split(':')[0].split('waid=')[1] }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "69c03591-a20e-4e45-b2eb-98f3eccab46b",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3920,
        320
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $(\"Quepasa Download Incoming\").first().binary[\"data\"].fileExtension }}",
        "rules": {
          "rules": [
            {
              "value2": "vcf"
            },
            {
              "value2": "url",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fee5dd8d-b057-43ce-aa6f-df343ee58468",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3280,
        620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payload.content",
              "value": "=**Localização:** \n{{ $(\"When Called By Another Workflow\").item.json.payload.attachment.url }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "ad870074-7cba-4e69-8f60-7845a4958bd1",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3560,
        580
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:mapa",
        "headerParametersJson": "={ \"api_access_token\": \"{{$json.atoken}}\" }",
        "queryParametersJson": "={{$json.payload}}"
      },
      "name": "Post Incoming Message Attachment3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4140,
        560
      ],
      "id": "d9385060-8e62-4e6a-80c6-144f96b3b08b",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "=mapa",
        "destinationKey": "mapa",
        "options": {
          "dataIsBase64": true,
          "fileName": "imagem.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "7c552e65-1719-489d-bac0-daa0ee169046",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        3840,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "1777b278-3221-4d1b-91d3-0a1cf06aa3fc",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        4000,
        560
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "mapa",
              "value": "={{ $(\"When Called By Another Workflow\").item.json.payload.attachment.thumbnail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ff79f8a-213d-468a-abd9-fdf04420c339",
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3700,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nlet temp = Buffer.from($(\"Quepasa Download Incoming\").first().binary[\"data\"].data, 'base64').toString()\n\n\n\n\nreturn {temp}\n\n"
      },
      "id": "c13210ab-9847-413c-9048-d88d090d4fea",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3520,
        320
      ]
    }
  ],
  "pinData": {
    "When Called By Another Workflow": [
      {
        "json": {
          "payload": {
            "private": false,
            "content": "Adalton",
            "message_type": "incoming",
            "source_id": "319F8FDEEE1750110B021411A6F2D0B1",
            "content_attributes": {
              "items": {
                "quepasa": {
                  "msgid": "319F8FDEEE1750110B021411A6F2D0B1"
                }
              }
            },
            "attachment": {
              "mime": "text/x-vcard",
              "filelength": 127,
              "filename": "adalton.vcf"
            },
            "external_created_at": 1706361261,
            "content_type": "text",
            "event": 7,
            "edited": false
          },
          "chatid": "553592630001@s.whatsapp.net",
          "conversation": {
            "id": 856,
            "status": "open"
          },
          "extra": {
            "account": 1,
            "atoken": "e7d95901c1c32094a01d838",
            "cwhost": "http://127.0.0.1:3000",
            "identifier": "WRzeHuuuCVbTA99kLWzUqms4",
            "inbox": 1,
            "qphost": "http://127.0.0.1:31000",
            "qptoken": "WRzeHuuuCVbTA99kLWzUqms4",
            "utoken": "sAgLXqoCrq7aB34JdQTZbm4W"
          },
          "hex": "35353335393236333030303140732e77686174736170702e6e6574",
          "participant": {}
        }
      }
    ]
  },
  "connections": {
    "Direct Message ?": {
      "main": [
        [
          {
            "node": "Has Incoming Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepend Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend Title": {
      "main": [
        [
          {
            "node": "Has Incoming Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Download Incoming": {
      "main": [
        [
          {
            "node": "(In) Error On Get Attach ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Source Payload": {
      "main": [
        [
          {
            "node": "Direct Message ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Incoming Attachment": {
      "main": [
        [
          {
            "node": "(In) Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(In) Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter Post To Chatwoot Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Incomming With Attachment ?": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(In) Attachment": {
      "main": [
        [
          {
            "node": "Quepasa Download Incoming",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "(In) Text Message": {
      "main": [
        [
          {
            "node": "If Not Empty Content ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(In) Prepend error on content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(In) Error On Get Attach ?": {
      "main": [
        [
          {
            "node": "(In) Prepend error on content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Empty Content ?": {
      "main": [
        [
          {
            "node": "(In) Text Message Following",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is revoke?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Custom Content": {
      "main": [
        [
          {
            "node": "(In) Text Message Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(In) Text Message Following": {
      "main": [
        [
          {
            "node": "Filter Post To Chatwoot Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Post To Chatwoot Payload": {
      "main": [
        [
          {
            "node": "Post Incomming With Attachment ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "If InReply | Reaction ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If InReply | Reaction ?": {
      "main": [
        [
          {
            "node": "Prepend Reference",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Source Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend Reference": {
      "main": [
        [
          {
            "node": "Filter Source Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Post Incoming Message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Incoming Message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is revoke?": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Custom Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "mark as revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload": {
      "main": [
        [
          {
            "node": "mark as edited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "Post Incoming Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Post Incoming Message Attachment2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Post Incoming Message Attachment3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set7": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Incoming Message2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 10
  },
  "versionId": "0847bf93-c54a-4301-bb66-222b19ed571a",
  "id": "1006",
  "meta": {
    "instanceId": "b0f69e3c6d1f5668f6e8b6f67bd5d337293bd6464be3f9adc6773d4609da5a0a"
  },
  "tags": []
}