extra/n8n+chatwoot/PostToWebCallBack.json
{
  "name": "PostToWebCallBack",
  "nodes": [
    {
      "parameters": {},
      "id": "d45f05a2-d01a-4c90-9f24-85a34f0e60dc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "destination",
              "value": "={{ $json.chat.id }}"
            },
            {
              "name": "contextid",
              "value": "={{ $json.contextid }}"
            },
            {
              "name": "label",
              "value": "WhatsApp"
            }
          ],
          "boolean": [
            {
              "name": "identified",
              "value": true
            }
          ],
          "number": [
            {
              "name": "delay",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "c5c57140-76d0-4907-ac1f-bcc04e9e0dd5",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://endpoints.sufficit.com.br/telephony/webcallback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "4025096d-2f65-45d6-aeb2-ea3d4b803c2e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        320
      ]
    },
    {
      "parameters": {
        "value1": "={{ +$json.extra.account.toString().trim() }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 4
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "65b19542-1d22-4545-84ed-be4c4a5a545d",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "contextid",
              "value": "d21cfb04-9d37-473b-837c-67591a26feed"
            }
          ]
        },
        "options": {}
      },
      "id": "def9fa76-868c-4fdb-92e7-8df505299a22",
      "name": "Set Sufficit Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "contextid",
              "value": "b6e311a0-cf07-4319-a930-2c0ada96f047"
            }
          ]
        },
        "options": {}
      },
      "id": "77e219b7-d924-4562-a5ed-06d998546ad1",
      "name": "Set AcessoPoint Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        820,
        140
      ]
    },
    {
      "parameters": {},
      "id": "935b9ce5-4168-46eb-854a-ad612726dc88",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "destination",
              "value": "={{ $json.chat.id }}"
            },
            {
              "name": "externalid",
              "value": "={{ $json.extra.identifier }}"
            },
            {
              "name": "label",
              "value": "WhatsApp"
            }
          ],
          "boolean": [
            {
              "name": "identified",
              "value": true
            }
          ],
          "number": [
            {
              "name": "delay",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "ee7c441b-16d7-4ce0-be4a-bb65c8f907dc",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://endpoints.sufficit.com.br/gateway/chatwoot/webcallback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "d0c592f4-a6e0-4af0-ad8f-9794b5c7b24b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        500
      ]
    },
    {
      "parameters": {
        "content": "## (1.0.0) Recommendations \n* Remember set timeout to 15 seconds ",
        "width": 395
      },
      "id": "307f281c-cc6c-44ef-aec1-9eca91b677b1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sufficit Context": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set AcessoPoint Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Sufficit Context",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AcessoPoint Context": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 15
  },
  "versionId": "d9e923a1-fc5d-4200-87df-6c9937095793",
  "id": "8",
  "meta": {
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "tags": []
}