extra/n8n+chatwoot/QuepasaChatControl.json
{
  "name": "QuepasaChatControl",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.payload}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d8b33b51-654b-45c7-b153-4dfdeb793ea9",
      "name": "If From Chat ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5080,
        460
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.payload?.content?? \"\"}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/invite"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "472aa0dd-5da0-48f3-8c6f-66216a7389f9",
      "name": "Switch From Chat",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        5420,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Para convidar alguém, utilize o atalho a seguir: \n{{$json[\"url\"]}}\nCompartilhe com quem deseje que participe deste grupo."
            }
          ]
        },
        "options": {}
      },
      "id": "10bfba9f-593e-4a5c-aab9-a793d457e13c",
      "name": "Set Invite Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        7080,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid??\"\"}}",
              "operation": "endsWith",
              "value2": "@g.us"
            }
          ]
        }
      },
      "id": "db7eac92-987c-48ec-ad2a-65c56ab47348",
      "name": "If Is From Group",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6320,
        300
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json[\"response\"]}}",
        "chatId": "={{$json.chatid}}"
      },
      "id": "5c4c943b-5768-453f-87ec-3ed7fcbb85a9",
      "name": "Quepasa",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        7480,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{ $json.chatid ?? $json.payload?.chatid }}"
            },
            {
              "name": "qphost",
              "value": "={{$json.extra?.qphost??$json.query?.qphost}}"
            },
            {
              "name": "qptoken",
              "value": "={{$json.extra?.qptoken??$json.query?.qptoken??$json.extra.identifier}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8f48f1b-6c47-4c41-8cc6-1393f25c6f0a",
      "name": "Set Parameters From Control Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        6140,
        300
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"qphost\"]}}",
        "token": "={{$json[\"qptoken\"]}}",
        "resource": "control",
        "operation": "invite",
        "chatId": "={{$json[\"chatid\"]}}"
      },
      "id": "02257e61-262a-4ac6-a34f-871ca633c2dd",
      "name": "Quepasa Get Invite Link",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        6520,
        380
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "fee6c41b-f84c-40ea-9fbb-c5269f873417",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        6720,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Não foi possível obter o link do grupo, verifique se este número é um Admin desse grupo!"
            }
          ]
        },
        "options": {}
      },
      "id": "98de16bd-4bd5-4adb-943e-166f5ceb496d",
      "name": "Set Error Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        7080,
        380
      ]
    },
    {
      "parameters": {
        "content": "## (1.0.2) Visual adjusts\n\n## Recommendations \n* Remember set timeout to 15 seconds ",
        "height": 205.7265251035022,
        "width": 561.5346630524019
      },
      "id": "55587ed4-532f-4e57-a40a-af024e5e18fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4860,
        200
      ]
    },
    {
      "parameters": {},
      "id": "6998ce15-51a5-4633-a4a8-665725f7055e",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        4880,
        460
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{ $json.body.extra.cwhost }}",
        "accessToken": "={{ $json.body.extra.utoken }}",
        "resource": "contact",
        "accountId": "={{ $json.body.extra.account }}",
        "operation": "contactSearch",
        "contactSearchQuery": "={{ $env['C8Q_QP_CONTACT'] ?? 'control@quepasa.io' }}"
      },
      "id": "f24ab3f4-46f0-49ce-ac0f-0679a16d2250",
      "name": "Busca Contato",
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        5960,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=inbox_id",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.inbox }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.payload[0].id }}"
            },
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "id": "402a2eb7-4d67-4677-a219-b27e2a4a1bb0",
      "name": "New Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6160,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.id }}/toggle_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"status\": \"open\",\n    \"snoozed_until\": null\n}",
        "options": {}
      },
      "id": "6dd6f3a9-cae1-4773-92e9-7570342c2436",
      "name": "Open Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6360,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.payload.conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"private\": false,\n  \"content\": \"❌ Este número está desconectado do whatsapp e não pode mais receber nem enviar mensagens!\\n Digite /qrcode para conectar\\n{{ $('When Called By Another Workflow').item.json.body.text }}\",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}",
        "options": {}
      },
      "id": "8a21a225-e2fb-470a-be6e-4c11c42893ad",
      "name": "Send Disconnect Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6560,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.text }}",
              "value2": "401: logged out from another device"
            }
          ]
        }
      },
      "id": "025fee7d-2590-4cb5-86fb-7562063a6d7b",
      "name": "Is Logout?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5740,
        940
      ]
    },
    {
      "parameters": {
        "workflowId": "waRNOrsXSutLuYvW"
      },
      "id": "2c666574-834d-40cf-a1da-f7ffb94cfec7",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5920,
        580
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.response}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "910e8a21-0ab0-49c8-846d-33c083494c3d",
      "name": "If Reponse Not Empty ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "57231b05-2cba-46b8-90f9-3181390001fd",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6880,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Put here your external API workflow",
        "height": 268.8339206426964,
        "width": 495.19677943804624
      },
      "id": "4fecd0db-8dc4-45ca-b0b2-091211848991",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5720,
        500
      ]
    },
    {
      "parameters": {},
      "id": "a16842b5-176a-497f-97de-81da511511fc",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5920,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "If From Chat ?": {
      "main": [
        [
          {
            "node": "Switch From Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Logout?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch From Chat": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invite Response": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Is From Group": {
      "main": [
        [
          {
            "node": "Quepasa Get Invite Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters From Control Chat": {
      "main": [
        [
          {
            "node": "If Is From Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Get Invite Link": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "If From Chat ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contato": {
      "main": [
        [
          {
            "node": "New Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Conversation": {
      "main": [
        [
          {
            "node": "Open Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Conversation": {
      "main": [
        [
          {
            "node": "Send Disconnect Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Logout?": {
      "main": [
        [
          {
            "node": "Busca Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reponse Not Empty ?": {
      "main": [
        [
          {
            "node": "Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Set Invite Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Set Parameters From Control Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 15
  },
  "versionId": "79690655-cac0-4563-ab34-480fe40933d5",
  "id": "1003",
  "meta": {
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "tags": [
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2022-10-13T15:26:11.519Z",
      "updatedAt": "2023-08-25T18:50:53.269Z",
      "id": "5",
      "name": "quepasa"
    },
    {
      "createdAt": "2022-10-13T15:26:19.857Z",
      "updatedAt": "2023-08-24T21:01:00.296Z",
      "id": "6",
      "name": "chatwoot"
    }
  ]
}