extra/n8n+chatwoot/QuepasaChatControl.json
{
  "name": "QuepasaChatControl",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.payload}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1ba0fdf3-3405-4080-ae8a-64d84aa867b6",
      "name": "If From Chat ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3020,
        520
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.payload?.content?? \"\"}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/invite"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f64f469f-c5a1-4898-91b0-4f263a11e392",
      "name": "Switch From Chat",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3420,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Para convidar alguém, utilize o link a seguir: \n{{$json[\"url\"]}}\nCompartilhe com quem deseje que participe deste grupo."
            }
          ]
        },
        "options": {}
      },
      "id": "34acd79e-12f9-490a-8fa0-bee25405f187",
      "name": "Set Invite Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4900,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b0ed5d6e-539f-4ff6-a94e-946e303cf537",
      "name": "IF Success2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4600,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid??\"\"}}",
              "operation": "endsWith",
              "value2": "@g.us"
            }
          ]
        }
      },
      "id": "81e66b74-2a75-4fd9-ba2a-18a7cde107d5",
      "name": "If Is From Group",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3940,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.response}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "378887f6-3d63-42cd-8eb6-73ea0b44f918",
      "name": "If Reponse Not Empty ?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5220,
        480
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json[\"response\"]}}",
        "chatId": "={{$json.chatid}}"
      },
      "id": "d8c32d01-bf20-414d-b0b8-793c10149ae3",
      "name": "Quepasa",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        5480,
        460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{ $json.chatid ?? $json.payload?.chatid }}"
            },
            {
              "name": "qphost",
              "value": "={{$json.extra?.qphost??$json.query?.qphost}}"
            },
            {
              "name": "qptoken",
              "value": "={{$json.extra?.qptoken??$json.query?.qptoken}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a78e5f-c595-470a-9110-c04db23ee641",
      "name": "Set Parameters From Control Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3760,
        480
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"qphost\"]}}",
        "token": "={{$json[\"qptoken\"]}}",
        "resource": "control",
        "operation": "invite",
        "chatId": "={{$json[\"chatid\"]}}"
      },
      "id": "a793ab5a-123c-48da-b50e-af099add2186",
      "name": "Quepasa Get Invite Link",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        4180,
        560
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "945c9519-c9fe-4e42-9db1-210c59296d9d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        4400,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Não foi possível obter o link do grupo, verifique se este número é um Admin desse grupo!"
            }
          ]
        },
        "options": {}
      },
      "id": "c33974df-0491-40f0-b016-a93fb511650b",
      "name": "Set Error Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4900,
        560
      ]
    },
    {
      "parameters": {
        "content": "## (1.0.0) Recommendations \n* Remember set timeout to 15 seconds ",
        "width": 395
      },
      "id": "07c6c321-042f-4201-9ece-87acece6b3fc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2900,
        320
      ]
    },
    {
      "parameters": {},
      "id": "d1fc280a-9c26-4f4d-8470-543c910ae925",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2760,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.text }}",
              "value2": "401: logged out from another device"
            }
          ]
        }
      },
      "id": "51d3a596-991d-4d2e-a694-a322cbfdeedb",
      "name": "is logout?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3220,
        840
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{ $json.body.extra.cwhost }}",
        "accessToken": "={{ $json.body.extra.utoken }}",
        "resource": "contact",
        "accountId": "={{ $json.body.extra.account }}",
        "operation": "contactSearch",
        "contactSearchQuery": "={{ $env['C8Q_QP_CONTACT'] ?? 'control@quepasa.io' }}"
      },
      "id": "b32db6be-3ba7-4afe-ae54-3fde0f81211c",
      "name": "ChatWoot",
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3440,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=inbox_id",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.inbox }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.payload[0].id }}"
            },
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "id": "15a96a4d-3505-4886-846c-1e518b2939a3",
      "name": "new conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3660,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.id }}/toggle_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"status\": \"open\",\n    \"snoozed_until\": null\n}",
        "options": {}
      },
      "id": "909a3579-eb6f-48fa-bc91-2b7a76fbccd5",
      "name": "open conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3840,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.payload.conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"private\": false,\n  \"content\": \"❌ Este número está desconectado do whatsapp e não pode mais receber nem enviar mensagens!\\n Digite /qrcode para conectar\",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}",
        "options": {}
      },
      "id": "01fbbb60-d294-45fa-b595-53392fecd4d4",
      "name": "send disconnect message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4040,
        820
      ]
    }
  ],
  "pinData": {
    "When Called By Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "127.0.0.1:5678",
            "user-agent": "Quepasa",
            "content-length": "465",
            "content-type": "application/json",
            "x-quepasa-wid": "553597567586:41@s.whatsapp.net",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "3EB004DCE5AD409C1B1DF0",
            "timestamp": "2024-01-27T10:21:36-03:00",
            "type": 9,
            "chat": {
              "id": "system",
              "title": "Internal System Message"
            },
            "text": "401: logged out from another device",
            "fromme": false,
            "frominternal": false,
            "extra": {
              "account": 1,
              "atoken": "e7d95901c1c32094a01d838",
              "cwhost": "http://127.0.0.1:3000",
              "identifier": "WRzeHuuuCVbTA99kLWzUqms4",
              "inbox": 1,
              "qphost": "http://127.0.0.1:31000",
              "qptoken": "WRzeHuuuCVbTA99kLWzUqms4",
              "utoken": "sAgLXqoCrq7aB34JdQTZbm4W"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "If From Chat ?": {
      "main": [
        [
          {
            "node": "Switch From Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is logout?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch From Chat": {
      "main": [
        [
          {
            "node": "Set Parameters From Control Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invite Response": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success2": {
      "main": [
        [
          {
            "node": "Set Invite Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Is From Group": {
      "main": [
        [
          {
            "node": "Quepasa Get Invite Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reponse Not Empty ?1": {
      "main": [
        [
          {
            "node": "Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters From Control Chat": {
      "main": [
        [
          {
            "node": "If Is From Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Get Invite Link": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "If From Chat ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is logout?": {
      "main": [
        [
          {
            "node": "ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot": {
      "main": [
        [
          {
            "node": "new conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new conversation": {
      "main": [
        [
          {
            "node": "open conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "open conversation": {
      "main": [
        [
          {
            "node": "send disconnect message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 15
  },
  "versionId": "4fc3d754-344a-42d9-89ef-10bafdf80a11",
  "id": "1003",
  "meta": {
    "instanceId": "b0f69e3c6d1f5668f6e8b6f67bd5d337293bd6464be3f9adc6773d4609da5a0a"
  },
  "tags": []
}